<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ahmed.kawsar.firebase_data">

    <application
        android:allowBackup="true"
        android:icon="@drawable/attendance"
        android:label="ডিজিটাল হাজিরাখাতা"
        android:roundIcon="@drawable/attendance"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity"

               android:parentActivityName=".HomeActivity"


            >
            </activity>
        <activity android:name=".Main1Activity" />
        <activity android:name=".Sign_Up" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Show_Activity" />
    </application>

</manifest>